# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist
tmp
/out-tsc

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
/*.code-workspace

.env.dev
.env.stg
.env.prod

# Next.js
.next

.env.local

.serverless/

.nx/cache
terraform/dev/.terraform.lock.hcl

terraform/dev/.terraform/modules/modules.json

terraform/dev/.terraform/modules/

terraform/dev/.terraform/

terraform/initial_setup/.terraform/

terraform/initial_setup/.terraform.lock.hcl
terraform/00_initial_setup/.terraform.lock.hcl

*.hcl

*.exe

terraform/00_initial_setup/.terraform/

*.tfstate

terraform/dev/02_network/.terraform/

terraform/dev/03_code_commit/.terraform/

terraform/dev/04_iam/.terraform/

terraform/dev/05_dynamodb/.terraform/

terraform/dev/06_s3/.terraform/

terraform/dev/08_ses/.terraform/

terraform/dev/09_secret_manager/.terraform/

terraform/dev/10_logging-service/01_code-build-code-pipeline/.terraform/

terraform/dev/10_logging-service/02_sqs/.terraform/

terraform/dev/10_logging-service/03_ecr_lambda/.terraform/

terraform/dev/11_custom-message-service/01_code-build-code-pipeline/.terraform/

terraform/dev/11_custom-message-service/02_ecr_lambda/.terraform/

terraform/dev/12_auth-service/01_code-build-code-pipeline/.terraform/

terraform/dev/12_auth-service/02_sqs/.terraform/

terraform/dev/12_auth-service/03_ecr_lambda/.terraform/

terraform/dev/13_admin-service/01_code-build-code-pipeline/.terraform/

terraform/dev/13_admin-service/02_ecr_lambda/.terraform/

terraform/dev/14_email-service/01_code-build-code-pipeline/.terraform/

terraform/dev/14_email-service/02_ecr_lambda/.terraform/

terraform/dev/15_file-service/01_code-build-code-pipeline/.terraform/

terraform/dev/15_file-service/02_ecr_lambda/.terraform/

terraform/dev/16_user-service/01_code-build-code-pipeline/.terraform/

terraform/dev/16_user-service/02_ecr_lambda/.terraform/

terraform/dev/07_sqs/.terraform/

terraform/01_code_commit/.terraform/

terraform/dev/00_initial_setup/.terraform/

terraform/dev/03_iam/.terraform/

terraform/dev/04_dynamodb/.terraform/

terraform/dev/05_s3/.terraform/

terraform/dev/06_secret_manager/.terraform/

terraform/dev/09_codepipeline/.terraform/

terraform/dev/10_logging-service/01_sqs/.terraform/

terraform/dev/10_logging-service/02_ecr_lambda/.terraform/

terraform/dev/11_custom-message-service/01_ecr_lambda/.terraform/

terraform/dev/12_auth-service/02_ecr_lambda/.terraform/

terraform/dev/13_admin-service/01_ecr_lambda/.terraform/

terraform/dev/14_email-service/01_ecr_lambda/.terraform/

terraform/dev/15_file-service/01_ecr_lambda/.terraform/

terraform/dev/16_user-service/01_ecr_lambda/.terraform/

terraform/dev/17_webapp/01_ecr/.terraform/
